@import 'slick.less';
@import 'slick-theme.less';

.slider {
	width: 50%;
	margin: 100px auto;
}
.slick-slide {
	margin: 0;
	transition: all ease-in-out .3s;
	opacity: .2;
	img {
		width: 100%;
	}
}
.slick-prev {
	&:before {
		color: black;
	}
}
.slick-next {
	&:before {
		color: black;
	}
}
.slick-active {
	opacity: 1;
}
.slick-current {
	opacity: 1;
}


.navigation {
    .slick-slider {
        max-width: 30%;
    }
}
