/**
 * custom theme 2019-02-13 07:50:55 */

#newsletter_pop_up{
width: 1091px;height: 484px;background-image: url(http://127.0.0.1/MGT/complex/pub/media/rokanthemes/newsletter/background/default/bg_newsletter_popup.jpg);background-repeat: no-repeat;
background-position: 95% center;
background-position: center top;}
