<?php
/**
 * @var $block \Rulo\Offers\Block\Adminhtml\Index\BestOffer
 */
?>
<?php if ($block->getData('sku')): ?>
    <?php $offers = $block->getOffers($block->getData('sku')); ?>
    <table class="data-grid">
        <caption><?= __('<strong>Sku: %1</strong>', $block->getData('sku')) ?></caption>
        <tr>
            <?php foreach ($offers['offer'] as $key => $offer): ?>
                <?php if ($key != 'seller'): ?>
                    <th><?= $key ?></th>
                <?php endif; ?>
            <?php endforeach; ?>
        </tr>
        <tr>
            <?php foreach ($offers['offer'] as $key => $offer): ?>
                <?php if ($key != 'seller'): ?>
                    <td><?= $offer ?></td>
                <?php endif; ?>
            <?php endforeach; ?>
        </tr>
    </table>
    <table class="data-grid offer">
        <caption><?= __('<strong>Offer</strong>') ?></li></caption>
        <tr>
            <?php foreach ($offers['offer']['seller'] as $keySeller => $seller): ?>
                <th><?= $keySeller ?></th>
            <?php endforeach;?>
        </tr>
        <tr>
            <?php foreach ($offers['offer']['seller'] as $seller): ?>
                <td><?= $seller ?></td>
            <?php endforeach;?>
        </tr>
    </table>
<?php else: ?>
    <p class="a-center"><?= __('Not found Offer by Sku') ?></p>
<?php endif; ?>
