<?php
/**
 *  Form Search Best Offer
 *
 * @var $block \Rulo\Offers\Block\Adminhtml\Index\Index
 */
?>
<div id="content-offer">
    <div class="content-form-offer">
        <form class="form offer"
              action="<?= $this->getUrl('offers/index/bestOffer', ['_current' => true]) ?>"
              id="offer-form"
              method="post"
              data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
              data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <input name="form_key" type="hidden" value="<?= /** @noEscape */ $block->getFormKey() ?>">
                <legend class="legend">
                    <span>
                        <?= $block->escapeHtml(__('Search offer Product by sku')) ?>
                    </span>
                </legend>
                <div class="field offer-sku required">
                    <div class="control">
                        <button type="submit" title="<?= $block->escapeHtmlAttr(__('Search Best Offer')) ?>" class="action submit primary">
                            <span><?= $block->escapeHtml(__('Search Best Offer')) ?></span>
                        </button>
                        <input name="sku"
                               placeholder="<?= $block->escapeHtml(__('Search Best Offer')) ?>"
                               id="sku"
                               title="<?= $block->escapeHtmlAttr(__('Search Best Offer')) ?>"
                               class="input-text"
                               type="text"
                               data-validate="{required:true}"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!-- content best offer -->
    <div id="offer-content-list"
         class="admin__data-grid-wrap"
         data-mage-init='{"Rulo_Offers/js/offer": {"ajaxUrl":"<?= /* @noEscape */ $this->getUrl('offers/index/bestOffer') ?>"}}' ></div>
</div>
